<br><br>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Phone number</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="Last Name">
  </label>
</div>
<button class="button button-calm button-block">
  Login
</button>
<button class="button button-block button-positive">
  Login with facebook
</button>